.footer {
    background-color: #2196F3;
    color: white;
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
  
    p {
      margin: 5px 0; 
    }
  
    @media (max-width: 768px) {

      p {
        font-size: 14px; 
      }
    }
  }
  